## (a) Data Loading

In [64]:
import pandas as pd

df = pd.read_csv("D:\Sanjana\Coding practice\Internship_mainflow\student-mat.csv", sep=';')

In [65]:
print(df.head())   #Display first 5 rows from the dataset by default

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

## (b)Data Exploration

In [66]:
#Check missing values
print(df.isnull().sum())

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [67]:
#Display column datatypes
print(df.dtypes)

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [68]:
#Understand the size of the dataset
print(df.shape)

(395, 33)

In [69]:
print(df.columns)

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

## (c) Data Cleaning

In [70]:

# Replace missing values with the median for numeric columns only
numeric_columns = df.select_dtypes(include=['number']).columns
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].median())

In [71]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

## (d) Data analysis

In [77]:
# 1. Average score in Math(G3)
average_score = df['G3'].mean()
print(f"Average score in math (G3): {average_score}")

Average score in math (G3): 10.415189873417722

In [78]:
# Number of students scoring above 15 in their final grades
high_scorers = df[df['G3'] > 15].shape[0]
print(f"Number of students who scored above 15 in their final grades: {high_scorers}")

Number of students who scored above 15 in their final grades: 40

In [79]:
# 3. If any correlation between study time and final grade
correlation = df['studytime'].corr(df['G3'])
print(f"Correlation between study time and final grade: {correlation}")

Correlation between study time and final grade: 0.09781968965319636

In [82]:
# 4. Which gender has a higer average final grade
average_by_gender = df.groupby('sex')['G3'].mean()
print("Average final grade by gender:")
print(average_by_gender)

Average final grade by gender:
sex
F     9.966346
M    10.914439
Name: G3, dtype: float64